.header {
  background-color: $header-bg;
  color: #FFFFFF;
}

.header__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.header__link {
  color: #00A3C3;

  &:hover {
    color: #FFFFFF;
  }
}